body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#map {
  height: 100vh;
}

#controls {
  position: absolute;
  bottom: 20px;
  left: 10px;
  z-index: 1000;
  background: white;
  padding: 10px;
  border-radius: 8px;
  max-width: 90vw;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-family: Arial, sans-serif;
}

label, select, input[type="text"], input[type="datetime-local"] {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  font-size: 14px;
  display: block;
} 

.info.legend {
  position: absolute;
  bottom: 10px;
  right: 5px;
  background: white;
  padding: 10px;
  line-height: 18px;
  color: #555;
  font-size: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  max-width: 300px; /* prevents stretching on wide screens */
}

.info.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.8;
  position: relative;
}

/* For mobile layout */
@media (max-width: 600px) {
  #controls {
    max-width: 40vw;
  }

  .info.legend {
    position: absolute;
    bottom: 50px;

    right: 1px;
    max-width: 45vw;
    font-size: 12px;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .info.legend i {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
  }  

  .emoji-icon {
  font-size: 18px;
  line-height: 2;
  text-align: center;
}

  
}


